

@mixin white-gradient {
	background: linear-gradient(to right,  rgb(0, 0, 0) 0%,rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-230px * 5.5))}
}

img{
    margin-left: 50px;
}

.instit{
	display: flex;
	align-items: center;
	flex-direction: column;
}

// Styling
.slider {


	color:rgb(255, 166, 0);
	margin-top: 20px;
	margin-bottom: 20px;

    display: flex;
    align-items: center;
	flex-direction: column;
	border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
	//background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.684) 54%, rgba(0, 0, 0, 0.721) 78%),url('../../../../assets/img/ecorial.jpg') ;
	background-color: rgb(255, 255, 255);
	
	background-position:10%;
    background-repeat: no-repeat;
    background-size: cover;

	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 200px;
	overflow:hidden;
	position: relative;
	width: 100%;
	

	

	&::before,
	&::after {
		@include white-gradient;
		content: "";
        height: 280px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
		border: 1.5px solid rgb(255, 174, 0);

	}

	h1{
		justify-self:start;
	}

		


}

.slider-no {
	color:rgb(255, 166, 0);
	margin-top: 20px;
	margin-bottom: 20px;

    display: flex;
    align-items: center;
	flex-direction: column;
	border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
	
	//background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.684) 54%, rgba(0, 0, 0, 0.721) 78%),url('../../../../assets/img/ecorial.jpg') ;
	background-color: rgb(255, 255, 255);
	
	background-position:10%;
    background-repeat: no-repeat;
    background-size: cover;

	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 250px;
	position: relative;
	width: 50%;
		
	.slide-track-no {
		display: flex;
		margin-right:10%;
	}

	.slide {
		height: 200px;
		width: 220px;
	}

	h1{
		justify-self:start;
	}
}

.slide-img-14{
	width: 100px;
}

.slide-img-2{
	width: 130px;
}


.slide-img-3{
	width: 160px;
}

.slide-img-6 , .slide-img-9{
	width: 400px;
}
.slide-img-10{
	width: 310px;
	height: 80px;
	margin-top: 5px;
}

.slide-img-5{
	width: 270px;
}

.slide-img-8{
	width: 180px
}
.slide-img-9{
	width: 200px;
	height: 80px;
	margin-top: 10px;
}

.slide-img-4{
	width: 200px
}


.slide-img-12{
	margin-top: 7px;
}