
<body>
<footer>
<div class="footer">
<div class="row">
<a href="https://www.facebook.com/JovenOrquestasierradeMadrid/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0"><i class="fa fa-facebook"></i></a>
<a href="https://www.instagram.com/orquestajosm/?hl=es"><i class="fa fa-instagram"></i></a>
<a href="https://www.youtube.com/@OrquestaJOsM"><i class="fa fa-youtube"></i></a>
</div>

<div class="row">
<ul>
<li><a routerLink="/contacto">Contacto</a></li>
<li><a routerLink="/orquesta">La orquesta</a></li>
<li><a routerLink="/apoyanos">Apoyo</a></li>
<li><a routerLink="/directiva">Equipo</a></li>
<li><a routerLink="/eventos">Conciertos</a></li>
</ul>
</div>
<div class="row">
JOsM Copyright © 2022 Joven orquesta sierra de Madrid - Todos los derechos reservados 
</div>
</div>
</footer>