
$primary-color-plane: #fa8601;
$secondary-color-plane: #012f46;
$primary-color: #fa86015c;
$secondary-color: #012f4663;
$background-color: #313131;
$text-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.04);
