<div class="container">
    <div class="box">
        <iframe width="660" height="100%" src="https://www.youtube.com/embed/zxHnfq0skuk?si=dW0N2VBLoQ9F5dGJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <span>CSS</span>
    </div>
    <div class="box">
        <iframe width="660" height="100%" src="https://www.youtube.com/embed/55yheYe6Y_4?si=p9rYQgh2el8jerKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <span>Image</span>
    </div>
    <div class="box">
        <iframe width="660" height="100%" src="https://www.youtube.com/embed/RGL3j--ed8I?si=D6XFZqtCFYuexycU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <span>Hover</span>
    </div>
    <div class="box">


        <iframe width="660" height="100%" src="https://www.youtube.com/embed/TFFCEIybHVg?si=pWrGV2HFPxivKpyB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <span>Effect</span>
    </div>
    <div class="box">



        <iframe width="660" height="100%" src="https://www.youtube.com/embed/eH6J8eRW3Po?si=TJuri14GP8AQKUDD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <span>Effect</span>
    </div>
    <div class="box">


        <iframe width="660" height="100%" src="https://www.youtube.com/embed/CO43HflPDPk?si=lB7HFsTWYZ5LQIY_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        <span>Effect</span>
    </div>
  </div>