<div class="present">

    <div class="text">
        <h3>PÁGINA EN DESARROLLO</h3>
        <p>

        Estimados visitantes: 
        En la JOsM seguimos creciendo y mejorando nuestras instalaciones virtuales para darte los mejores contenidos. 
        Tennos un poco de paciencia, ¡esta parte de nuestra web está a punto de ver la luz! </p> 
        
        <p>   Te invitamos a seguir navegando por las<a routerLink="/inicio"> otras pestañas</a> disponibles de nuestra página web.</p> </div> 

  </div>


  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngwing.com%2Fes%2Fsearch%3Fq%3Dmantenimiento&psig=AOvVaw3Q-qSXBA5kLhGPvIJK4AJ3&ust=1705851823977000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIjktLGn7IMDFQAAAAAdAAAAABAD" alt="">
