.present{
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin: 20px;
}

.present .text{
    flex-direction: column;

    transition: transform 1s, font-size 5s;
    animation:  slideSide 2s;
    display: flex;
    text-align: center;
    justify-self: center;
    font-size: 19px;
    height: 55%;
    border-radius: 10px;
    font-weight:lighter;
    background-color:#012639;
    color:wheat;
    width: 50%;
    margin-left: 30px;
    padding: 25px;
    align-self: center;

}

.text p{
    margin: 15px;
}

@keyframes slideSide {
    from{
     transform: translatex(200%);
     opacity: 0.5;
    }to{
     transform: translatex(0);
 opacity: 1;
    }
     
 }

 .text:hover{
    color:black;
    transform: translateY(-10px);
    font-weight: bolder;
}


a{
    color: orange;
}